@use '/src/utils/scss/media.scss' as media;

.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
  justify-content: center;
  align-items: center;

  @include media.mobile {
    margin-top: 0;
    width: calc(100vw - 60px);
  }
}

.help {
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 2px solid #237BFF;
  border-radius: 16px;

  @include media.mobile {
    width: 100%;
    padding: 0;
    border: none;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    overflow-wrap: break-word;
    word-break: keep-all;

    &--main {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
    }

    &--sub {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      color: #a2a2a2;
    }
  }
}

.agencies {
  display: flex;
  gap: 24px;
  justify-content: center;

  @include media.mobile {
    gap: 10px;
  }

  &__agency {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > svg {
      @include media.mobile {
        width: 100px;
        height: 100px;
      }
    }

    &--button {
      padding: 8px 35.5px;
      background-color: #fff;
      border: 2px solid #919191;
      border-radius: 8px;
      font-family: Pretendard;
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      color: #484848;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
  
      &:active {
        background-color: #e1e1e1;
      }

      @include media.mobile {
        padding: 8px 0;
        width: 88px;
        border-width: 1.5px;

        &:hover {
          background-color: #fff;
        }
      }

      &--selected {
        border-color:#237BFF;
        color: #237BFF;
      }
    }
  }
}

.connect {
  display: flex;
  align-items: center;
  gap: 8px;

  &--able {
    cursor: pointer;
    color: #237BFF;
  }

  &__button {
    background-color: #fff;
    padding: 0;
    font-family: Pretendard;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #A2A2A2;
    border: none;

    &--able {
      cursor: pointer;
      color: #237BFF;
    }
  }
}

.checkbox {
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 12px;
  position: relative;
  top: -5px;

  @include media.mobile {
    gap: 8px;
  }

  &__check {
    appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid #237BFF;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;

    @include media.mobile {
      width: 14px;
      height: 14px;
    }

    &:checked {
      background-color: #fff;
      border-color: #237BFF;

      &::before {
        display: block;
      }
    }

    &::before {
      content: "";
      position: absolute;
      display: none;
      left: 4px;
      top: 0;
      width: 5px;
      height: 10px;
      border: solid #237BFF;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);

      @include media.mobile {
        left: 3px;
        top: -1px;
        border-width: 0 1.5px 1.5px 0;
      }
    }
  }
  
  &__agree {
    font-family: Pretendard;
    font-weight: 600; 
    font-size: 14px;  
    line-height: 100%;  
    letter-spacing: 0%;

    @include media.mobile {
      font-size: 12px;
    }
  }
}

.wait-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px 200px;
  border: 1.5px solid #237bff;
  border-radius: 16px;

  &__title {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &--main {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0%;
      text-align: center;
    }

    &--sub {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0%;
      text-align: center;
      color: #A2A2A2;
    }
  }

  &__time {
    font-family: Pretendard;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #237BFF;
  }

  &__button {
    border: 1.5px solid #919191;
    border-radius: 8px;
    padding: 8px 0;
    box-sizing: border-box;
    width: 140px;
    font-family: Pretendard;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #484848;
    background-color: #fff;
    cursor: pointer;
  }
}
