.container {
  margin: 198px 0 307px 0;
}

.motto {
  font-family: Pretendard;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.emphasize {
  color: #237BFF;
}

.gradient {
  background: linear-gradient(90deg, #D2D2D2 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.call {
  margin: 70px auto;
  display: flex;
  gap: 85px;

  &__type {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    border: none;
    background-color: #237BFF;
    border-radius: 16px;
    padding: 17px 68px;
    color: #fff;
    font-family: Pretendard;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;

    &--start {
      width: 493px;
    }
  }
}

.general-call {
  margin: 91px 0 160px 0;
}
