.opponent {
  margin: 20px 0 0 20px;

  &--flex {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &--grid {
    display: grid;
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-template-columns: repeat(2, minmax(188px, auto));
    column-gap: 20px;
    row-gap: 6px;
  }

  &--hidden {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--title {
      font-family: Pretendard;
      font-weight: 700;
      font-size: 22px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #237BFF;
    }

    &--text {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      word-break: break-all;
      white-space: normal;

      & > span {
        color: #777777;
      }
    }

    &--open-map {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #919191;
      cursor: pointer;
      background-color: #fff;
      border: none;
    }
  }
}
