.video-container {
  display: flex;

  &__sub-video {
    border: 2px solid #237BFF;
    width: 322px;
    height: 194px;
    transform: scaleX(-1);
    object-fit: cover;
  }

  &__main-video {
    border: 2px solid #237BFF;
    width: 950px;
    height: 600px;
    transform: scaleX(-1);
    object-fit: cover;
  }

  &--hidden {
    display: none;
  }
}

.video-wrapper {
  position: relative;
  
  &__main {
    width: 954px;
    height: 604px;
  }

  &__sub {
    width: 326px;
    height: 198px;
  }

  &__hidden {
    display: none;
  }

  &__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% - 4px);
    height: calc(100% - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #777777;
    color: #ffffff;
    z-index: 5;
    text-align: center;
  
    span {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 1.1em;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  &__mic-off-overlay {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 6;
  }
}

.opponent {
  margin: 20px 0 0 20px;

  &--flex {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &--grid {
    display: grid;
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-template-columns: repeat(2, minmax(188px, auto));
    column-gap: 20px;
    row-gap: 6px;
  }

  &--hidden {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--title {
      font-family: Pretendard;
      font-weight: 700;
      font-size: 22px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #237BFF;
    }

    &--text {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      word-break: break-all;
      white-space: pre;

      & > span {
        color: #777777;
      }
    }
  }
}